@model Carrier
@{
    ViewData["Title"] = "Index";

}
<div class="container-fluid pt-3">
    <div class="row pt-4">
        <div class="col-6 ">
        <h1 class="text-primary">No Pain No Gain!
        </h1>
     </div>
   <div class="col-6 text-end">
         <a asp-controller="Workout" asp-action="AddWorkout" class="btn btn-primary">
                <i class="bi bi-plus"></i> AddNewWorkout
                </a>
      
            </div>
       </div>
</div>
<br />
<table class="table table-border table-striped" style ="width:100%">


@using (Html.BeginForm("Index", "Workout", FormMethod.Get))
{
    <div class="form-group">
        <label for="date" >Select a date:</label>
        <select class="form-control" id="date" type="date"  name="date" onchange="this.form.submit()">
            <option value="">@Model.currentDate</option>
            @foreach (var item in Model.carrier_date)
            {
                <option value="@item.DateId" type = "date">@item.date.Date.ToString("dd-MM-yy")</option>
            }
        </select>
    </div>
}

@if (Model.carrier_workouts != null && Model.carrier_workouts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Set 1 Reps</th>
                <th>Set 2 Reps</th>
                <th>Set 3 Reps</th>
                <th>Set 4 Reps</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.carrier_workouts)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.set1_reps</td>
                    <td>@item.set2_reps</td>
                    <td>@item.set3_reps</td>
                    <td>@item.set4_reps</td>
                    <td> <a asp-asp-controller="Workout" asp-action="Edit" style="width:100px" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a> </td>
                    <td> <a asp-asp-controller="Workout" asp-action="Delete" style="width:100px" asp-route-id ="@item.Id"><i class="bi bi-trash3"></i></a></td>
                </tr>
 
            }
        </tbody>
    </table>
    <h3>Your achievements for date : @Model.currentDate</h3>
}
else
{
    <p>No workouts found for the selected date.</p>
}


@*    @{

        var RawListOfWorkouts = Model.carrier_workouts.ToList();
        var ListOfDates = Model.carrier_date.ToList();
    }
    <select name="DropDownSelectedDate" id="DD" onchange="getSeletedValue();">
        <option value="">Select a Date</option>
        @* <option value=@date.carrier_workouts>@date.carrier_date</option>
        @for (int i = 0; i <= 1; i++)
        {
            <option value=@ListOfDates[i]>@ListOfDates[i].date</option>

        }

    </select>
    <h1>Displaying Workouts on date  </h1>
</table>
<script>
    function getSeletedValue() {
        selectedValue = document.getElementById("DD").value;
        console.log(selectedValue)
    }
</script>
*@
